.ValidateEmail {
    position: absolute;
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/static/media/pokemon_wallpaper.22a66419.jpg");
    font-size: 17px;
}



