.Modal {
    position: fixed;
    z-index: 500000;
    background-color: white;
    width: 80%;
   border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(136, 136, 136);
    padding: 25px;
    left: 10%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    overflow-y: scroll;
}

@media screen and (max-width: 400px) {
    .Modal{
        width: 100%;
        left: 0%;
    }

}