.ResetPassword{
    position: absolute;
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/static/media/pokemon_wallpaper.22a66419.jpg");
}


@media (max-width: 500px){
    .ResetPassword{
          background-image: none;
          background: white;
        }
}

.imageForResetPassword{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.resetPass{
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
